@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .nav {
    @apply py-8 bg-white border-b flex items-center border-gray-300;
  }

  .nav-inner {
    @apply flex flex-col sm:flex-row gap-4 sm:justify-between items-center;
  }

  .user-panel-container {
    @apply relative flex flex-col items-center sm:items-end min-w-[200px];
  }

  .user-panel {
    @apply z-50 absolute w-full h-auto max-w-xs bg-gray-100 p-4 rounded-md left-2/4 transform -translate-x-2/4 top-10 sm:left-0 sm:transform-none;
  }

  .user-panel-menu {
    @apply flex flex-col gap-3 relative;
  }

  .user-panel-menu:after {
    @apply absolute z-20 right-6 -top-7 border-r-transparent border-t-transparent border-l-transparent border-gray-100 border-[6px] border-solid block w-0 h-0;
    content: " ";
  }

  .logo {
    @apply text-xl font-bold uppercase block text-center sm:text-left;
  }

  .container {
    @apply mx-auto max-w-7xl px-6;
  }

  .btn-default {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 focus:outline-none;
  }

  .btn-light {
    @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5;
  }

  .btn-dark {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5;
  }

  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block font-medium  focus:outline-none text-sm px-4 py-2.5;
  }

  .prompt-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 my-8 gap-4;
  }

  .prompt-card {
    @apply border border-gray-200 rounded-md p-4 bg-gray-50 break-words;
  }

  .search-input {
    @apply block w-full p-4 pl-10 pr-12 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 focus:outline-none;
  }

  .field-error {
    @apply text-red-500 text-sm mt-2;
  }
}
