@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .nav {
    @apply py-8 bg-white border-b border-gray-200;
  }

  .nav-inner {
    @apply flex flex-col sm:flex-row gap-4 sm:justify-between;
  }

  .logo {
    @apply text-xl font-bold uppercase block text-center sm:text-left;
  }

  .container {
    @apply mx-auto max-w-7xl px-6;
  }
}
